// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category, #newCat {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    border-bottom: solid black 1px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#category div {
    width: 1000px;
    justify-content: space-around;
  }

.type {
    text-align: center;
    padding: 0px, 15px, 0px, 15px;
}

#edit, #delete {
    text-align: right;
}

#category img {
    width: 25px;
    height: 25px;
}

#newCat {
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    background-color: #ddd;
}

#newCat:hover {
    background-color: darkgray;
    color: black;
}