<div class="header">
  <a href="#default" class="logo">My Finance</a>
  <div class="header-right">
    <%= link_to 'Home' %>
    <%= link_to 'New Entry', new_transaction_path %>
    <%= link_to 'All' %>
  </div>
</div>

<div id="activity">Activity</div>