<p>
  <strong>Type:</strong>
  <%= @transaction.category %>
</p>

<p>
  <strong>Business:</strong>
  <%= @transaction.business %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>